@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h1>Top 2000</h1>
	<br>
	<br>
	<p class="lead">This is a change: De Top 2000 is een jaarlijks radioprogramma van het Nederlandse radiostation NPO Radio 2. <br>
		             Hierin worden de bij stemming 2000 populairst bevonden muzieknummers achter elkaar gedraaid. </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>GitHub</h2>
        <p>
            Wij als Groep 9 hebben GitHub gebruikt. klik op de link om een kijkje te nemen in onze repository.
        </p>
        <p><a class="btn btn-default" href="https://github.com/dlatumahina/Top2000">Onze GitHub &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Trello</h2>
        <p>Wij als Groep 9 hebben Trello gebruikt. Klik op de link om ons bord te zien</p>
        <p><a class="btn btn-default" href="https://trello.com/b/itrm9BEC/voorbereiding-presentatie">Ons bord &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Top 2000?</h2>
        <p>De Top 2000 is een lijst met allemaal nummers waar mensen op konden stemmen. dit hebben ze ook gedaan en hieruit is een Top 2000 ontstaan van nummers</p>
        <p><a class="btn btn-default" href="https://www.nporadio2.nl/top2000">Neem een kijkje &raquo;</a></p>
    </div>
</div>